# Ignore all .png files
*.png

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.pytest_cache/
.mypy_cache/
.idea/ # For PyCharm/IntelliJ users

# Playwright browsers and downloads
playwright_browsers/
downloads/
*.whl